html {
    font-family: helvetica, serif;
    color: white;
}
html, body {
    margin: 0;
    width: 480px;
    height:615px;
    background-image: url(CoverBanner_Mobile.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#bgimg{
   position: relative;
   top: 5%;
   background-position: center;
   width: 480px;
   height:615px;
}
#i{
position:absolute;
top: 50px;
}
#i1{
position: absolute;
left:270px;
top:50px;
}
#i2{
position: absolute;
left:50px;
top:50px;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: PeachPuff;
  width: 480px;
  height: 825px;
  
}

.flex-container > div {
  background-color: white;
  color: black;
  width: 450px;
  height: 381px;
  margin: 0px;
  text-align: center;
  line-height: 115px;
  font-size: 20px;
  position: relative;
  top: 1px;
  left: 5%;
  right: 0px;
}    
#btn1{
    background-color:transpare;
    font-weight:bold;
    color:#800080;
    height:40px;
    width:70px;
    position: absolute;
    left: 25%;
    top:1%;
}
.btn_one {
    text-decoration: none;
    color: white;
    font-weight: 100;
    border: 1px #fbbc05 solid;
    padding: 1em 3em;
    border-radius: 100px;   
}
#gamecard1{
   position: relative;
   top: 490px;
   left: -86%;
   height: 140px;
   weight: 130px;
}
#gamecard2{
   position: relative;
   top: 490px;
   left: -75%;
   height: 140px;
   weight: 130px;
}
#text1{
  position:relative;
  top: 398px;
  left: -161px;
  text-align: center;
  color: black;
  font-size: 20px;
}
#playnow{
    background-color: #BA32FF;
    font-weight:bold;
    font-style:
    color:#800080;
    height:47px;
    width:140px;
    position: absolute;
    left: 60px;
    top:400px;
}
#selectregion{
   background-color: #BA32FF;
    font-weight:bold;
    font-style:
    color:#800080;
    height:50px;
    width:40%;
   position: relative;
   top: 659px;
   left: -130%;
 
}
   
.tab{
    position: relative;
    top: -31%;   
    font-family: "copperplate";
    font-size: 25px; 
    color: black;
    font-weight:900;
}
.tab2{
position:relative;
top:-317px;
font-family: "copperplate";
font-size: 20px;
color: purple;
font-weight:500;
}
.ta3{
    position:relative;
    top:-119px;
    font-family: "copperplate";
    font-size: 20px;
    color: rgb(19, 7, 19);
    font-weight:500;
}
.ta4{
    position:relative;
    top:-350px;
    font-family: "copperplate";
    font-size: 20px;
    color: purple;
    font-weight:500;
.tab4{
position:relative;
top: -21px;
font-family: "copperplate";
font-size: 20px;
color: purple;
font-weight:500;
}
.tab5{
position:relative;
top: -10px;
font-family: "copperplate";
font-size: 20px;
color: purple;
font-weight:500;
}
.tab6{
position:relative;
top: -10px;
font-family: "copperplate";
font-size: 20px;
color: rgb(14, 9, 14);
font-weight:500;
}
.tab7{
position:relative;
bottom: -20px;
font-family: "copperplate";
font-size: 20px;
color: purple;
font-weight:500;
}
.tab8{
position:relative;
bottom: -17px;
font-family: "copperplate";
font-size: 20px;
color: purple;
font-weight:300;
}
.tab10{
position:relative;
bottom: 89px;
font-family: copperplate;
font-size: 20px;
color: purple;
font-weight:300;
text-align: left;
}
#t2{
position:relative;
top: -129px;
left: 250px;
}
#t3{
position:relative;
top:200px;
left: 190px;
}
#t4{
position:relative;
top:600px;
left: 190px;
}
#t5{
position:relative;
top:600px;
left: 190px;
}
#nextline::after{
content: "\a";
white-space: pre;
}
.start{
font-size:25px;
}

.nav div{
    height: 4px;
    background-color: purple;
    margin: 5px;
    border-radius: 30px;

}
.one {
    width: 30px;
    position: absolute;
    top: 5px;
    left:20%;
    
}
.two {
    width: 30px;
    position: absolute;
    top: 15px;
    left: 58%;
    
}


.tab3{
font-family: "copperplate";
font-weight:500;
}
.{
font-family: "copperplate";
font-weight:500;
color:purple;
position: relative;
lefht: -14px;;
right:109px;
bottom: 80px;
}

.allah {
background-color: black;
margin: 25px auto;
text-align: center;
display: flex;
justify-content: space-around;
align-items: center;
background-size: cover;
background-repeat: no-repeat;
width: 954px;
height: 112px;
position: relative;
top; 20px;
color: purple;
font-family: copperplate;
font-weight:700;
font-size:20px;

}

}
.pa{
background-color: PeachPuff;
margin: 16px auto;
text-align: center;
display: flex;
justify-content: space-around;
align-items: center;
background-size: cover;
background-repeat: no-repeat;
width: 460px;
height: 60px;
color: purple;
}

.flex8 {
background-color: PeachPuff;
margin: 25px auto;
text-align: left;
display: flex;
justify-content: space-around;
align-items: center;
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 350px;
position: relative;
top:0px;
color: purple;
font-family: copperplate;
font-weight:700;
font-size:20px;

}
.flex9 {
background-color: PeachPuff;
margin: 25px auto;
text-align: left;
display: flex;
justify-content: space-around;
align-items: center;
background-size: cover;
background-repeat: no-repeat;
width: 90%;
height: 80px;
position: relative;
top:0px;
color: purple;
font-family: copperplate;
font-weight:700;
font-size:20px;
}
.flex10 {
background-color: PeachPuff;
margin: 25px auto;
text-align: left;
display: flex;
justify-content: space-around;
align-items: center;
background-size: cover;
background-repeat: no-repeat;
width: 90%;
height: 50px;
position: relative;
top:0px;
color: purple;
font-family: copperplate;
font-weight:700;
font-size:20px;
}
.flex11 {
background-color: PeachPuff;
margin: 25px auto;
text-align: left;
display: flex;
justify-content: space-around;
align-items: center;
background-size: cover;
background-repeat: no-repeat;
width: 90%;
height: 50px;
position: relative;
top:0px;
color: purple;
font-family: copperplate;
font-weight:700;
font-size:20px;
}
.flex12 {
background-color: PeachPuff;
margin: 25px auto;
text-align: left;
display: flex;
justify-content: space-around;
align-items: center;
background-size: cover;
background-repeat: no-repeat;
width: 90%;
height: 50px;
position: relative;
top:0px;
color: purple;
font-family: copperplate;
font-weight:700;
font-size:20px;
}

#tab9{
font-family: copperplate;
font-weight:300;
font-size:20px;
}
h2{
color: purple;
position: relative;
bottom: 10px;
left:10px;

}
.setfont{
color: black;
}

#imgame{
    background-color: #BA32FF;
    font-weight:bold;
    font-style:
    color:#800080;
    height:47px;
    width:140px;
    position: absolute;
    left: 200px;
    top:3000px;
}
.flex14{
background-color: PeachPuff;
position: relative;
bottom: -40px;
left: 0px;
width: 100%;
height: 1760px;
}

.flex14> div {
font-family: FreeMono, monospace;
background-color:black;
width:400px;
margin: 20px;
text-align: center;
line-height; 75px;
font-size: 15px;
transform: uppercase;
position: relative;
left:30px;
top: 170px;

}
.f1{
font-family: copperplate;
height: 35px;
position: relative;
top:30px;
text-align: center;
}

.f2{
height: 35px;
position: relative;
top:10px;
}

.f3{
height: 35px;
position: relative;
top:10px;

}
.f4{
height: 35px;
position: relative;
top:10px;
}
.line{
background-color: purple;
color: yellow;
width: 7px;
height: 40px;
position: relative;
bottom: 1650px;
left: 30px;

}
h3{
color: black;
position: relative;
bottom: 1700px;
left: 50px;

}
.flexx{
display: flehx;
  flex-wrap: nowrap;
  background-color: PeachPuff;

}



#videoimg1{
    background-color: #BA32FF;
    font-weight:bold;
    font-style:
    color:#800080;
    height:80px;
    width:110px;
    position: relative;
    bottom: 1440px;
    left: 60px;
}
#videoimg2{
    background-color: #BA32FF;
    font-weight:bold;
    font-style:
    color:#800080;
    height:80px;
    width:100px;
    position: absolute;
    bottom: 1470px;
    left: 60px;
}
#videoimg3{
    background-color: #BA32FF;
    font-weight:bold;
    font-style:
    color:#800080;
    height:80px;
    width:100px;
    position: absolute;
    bottom: -2820px;
    left: 60px;
}
#videoimg4{
    background-color: #BA32FF;
    font-weight:bold;
    font-style:
    color:#800080;
    height:80px;
    width:100px;
    position: absolute;
    bottom: -2920px;
    left: 60px;
}
#fv{
position: relative;
bottom: 1450px;
color: black;
left:50px;
}
.line2{
background-color: purple;
width: 7px;
height: 40px;
position: relative;
bottom: 1399px;
left: 30px;
}
.line3{
background-color: purple;
color: black;
width: 7px;
height: 40px;
position: relative;
bottom: 1240px;
left: 30px;
}.line4{
background-color: purple;
color: black;
width: 7px;
height: 40px;
position: relative;
bottom: 1260px;
left: 30px;
}
.line5{
background-color: purple;
color: black;
width: 7px;
height: 40px;
position: relative;
bottom: 1320px;
left: 30px;

}
#fp{
position: relative;
bottom: 1300px;
color: black;
left:50px;
}
#GP{
position: relative;
bottom: 1290px;
color: black;
left:50px;
}

#videoimg5{
    background-color: #BA32FF;
    font-weight:bold;
    font-style:
    color:#800080;
    height:100px;
    width:180px;
    position: absolute;
    bottom: -3100px;
    left: 90px;
}
#videoimg6{
    background-color: #BA32FF;
    font-weight:bold;
    font-style:
    color:#800080;
    height:100px;
    width:180px;
    position: absolute;
    bottom: -3220px;
    left: 90px;
}
#videoimg7{
    background-color: #BA32FF;
    font-weight:bold;
    font-style:
    color:#800080;
    height:100px;
    width:180px;
    position: absolute;
    bottom: -3350px;
    left: 90px;
}
#mvideoimg8{
    background-color: #BA32FF;
    font-weight:bold;
    font-style:
    color:#800080;
    height:100px;
    width:180px;
    position: absolute;
    bottom: -3420px;
    left: 90px;
}
#fd{
position: relative;
top:-900px;
width: 100%;
}
#footerimg{
position: relative;
bottom: 1100px;

}
#fr{
position: relative;
bottom: 1170px;
color: black;
left:200px;
}
#fr1{
position: relative;
bottom: 1180px;
color: black;
left:200px;
}
#fr2{
position: relative;
bottom: 1190px;
color: black;
left:200px;
}
#fr3{
position: relative;
bottom: 2100px;
color: black;
left:200px;

}
#onboard{
position: absolute;
top:50px;
nbackground:rgba(0,0,0,.);
}
#Fp{
   position: relative;
   top: -900px;
   background-position: center;
   width: 100%;
   height: 300px;
}
.flex15 {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  bottom: 1310px;
}

.flex15 > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
#b1{
color: purple;
position:relative;
bottom: -10px;
left:20px;
width: 20%;
height: 250px;
font-size: 20px;
}

#b2{
color: purple;
position:relative;
bottom:-10px;
left:40px;
width: 20%;
height: 250px;
font-size: 20px;
}

#t1{
color: purple;
font-family: copperplate;
position: relative;
bottom: 1463px;
left: 240px;
}
#t2{
color: purple;
font-family: copperplate;
position: relative;
bottom: 1495px;
left: 120px;
}
#t3{
color:purple;
position: relative;
bottom: 1485px;
left: 240px;
font-family: copperplate;
}
#t4{
color: purple;
font-family: copperplate;
position: relative;
bottom:1513px;
left: 120px;
}
#t5{
color: purple;
font-family: copperplate;
position: relative;
bottom: 1603px;
left: 560px;
}
#t6{
color: purple;
font-family: copperplate;
position: relative;
bottom: 1635px;
left: 460px;
}
#t7{
color:purple;
position: relative;
bottom: 1620px;
left: 460px;
font-family: copperplate;
}
#t8{
color: purple;
font-family: copperplate;
position: relative;
bottom: 1645px;
left: 540px;
}#t9{
color: purple;
font-family: copperplate;
position: relative;
bottom: 843px;
left: 270px;
}
#t10{
color: purple;
font-family: copperplate;
position: relative;
bottom: 880px;
left: 310px;
}
#t11{
color:purple;
position: relative;
bottom: 880px;
left: 460px;
font-family: copperplate;
}
#t12{
color: purple;
font-family: copperplate;
position: relative;
bottom: 915px;
left: 400px;
}
#b3{
position:relative;
left:160px;
width: 20%;
height: 250px;
}
#fa1{
    background-color: #BA32FF;
    font-weight:bold;
    font-style:
    color:#800080;
    height:220px;
    width:240px;
    position: absolute;
    bottom: -3980px;
    left: 90px;
}
#fa2{
    background-color: #BA32FF;
    font-weight:bold;
    font-style:
    color:#800080;
    height:220px;
    width:240px;
    position: absolute;
    bottom: -4220px;
    left: 90px;
}
#fa{
position: relative;
bottom: 1280px;
color: black;
left:50px;
}

.flex16 {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  bottom: 1000px;
background-color: PeachPuff;
width: 100%;
height: 300px;
}
#bg{
background-color: PeachPuff;
}



